.container * {
    all: unset;
    font-size: 1.2em;
    height: 100%;
}

.container.preload * {
    animation-duration: 0s !important;
}

.container {
    z-index: 5;
    width: 100%;
    top: 0;
    text-align: left;
    color: white;
    position: fixed;
}

.container .inner {
    height: 2.5em;
    display: block;
    background-color: #8a2be2;
    width: 100%;
    z-index: 1;
}

.container button {
    cursor: pointer;
}

.container span {
    display: inherit !important;
    position: relative !important;
    top: 0.2em !important;
}

.container button:hover {
    background-color: #994be2;
}

.container .textInput {
    width: 6.2em;
    padding-right: 0.4em;
}

.container input::placeholder {
    color: #d0d0d0;
}

.container p {
    margin-left: 1em;
    height: 100%;
}

@media (max-width: 60em) {
    .container p {
        margin-left: 0.3em;
    }
}

@keyframes slideUp {
    from {display: block;top: 2.5em;}
    to {display: block;top: -16em;}
}

@keyframes slideDown {
    from {display: block;top: -16em;}
    to {display: block;top: 2.5em;}
}

div.noShow {
    display: none;
}

div.hide {
    box-sizing: border-box;
    animation: slideUp 0.2s;
    position: fixed;
    z-index: -1;
    background-color: #994be2;
    height: auto;
    border-radius: 0 0 8px 8px;
    top: -16em;
    border: 2px solid lightblue;
    border-top: none;
}

div.show {
    top: 2.5em;
    box-sizing: border-box;
    background-color: #994be2;
    display: block;
    position: fixed;
    font-size: 1.2em;
    width: 100%;
    height: auto;
    min-height: 1em;
    overflow: hidden;
    z-index: -1;
    border-radius: 0 0 8px 8px;
    animation: slideDown 0.2s;
    border: 2px solid lightblue;
    border-top: none;
}
