.container * {
    all: unset;
    font-size: 1.2em;
    height: 100%;
}

.container {
    position: sticky;
    top: 0;
    text-align: left;
    height: 2.5em;
    display: block;
    color: white;
    background-color: #8a2be2;
    width: 100%;
}

.container div {
    width: auto;
    margin-left: 1em;
}

.container button {
    cursor: pointer;
}

.container span {
    display: inherit !important;
    position: relative !important;
    top: 0.2em !important;
}

.container button:hover {
    background-color: #994be2;
}

.container .textInput {
    width: 6.2em;
    padding-right: 0.4em;
}

.container input::placeholder {
    color: #d0d0d0;
}

.container p {
    height: 100%;
}

div.hide {
    display: none;
}

div.show {
    background-color: #40c077;
    display: block;
    position: fixed;
    font-size: 1.2em;
    right: 0;
    top: 2em;
    width: 100%;
    height: auto;
}
