.table {
    margin-left: 2em;
    margin-top: 1em;
    float: left;
    border-spacing: 0px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    background-color: #994be2;
    color: white;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.table td {
    height: 100%;
    border-bottom: 1px solid lightgrey;
}