.table {
    margin-left: 2em;
    margin-top: 1em;
    float: left;
    border: 2px solid black;
    border-collapse: collapse;
}

.table td, .table th {
    height: 100%;
    border: 1px solid black;
}